{% extends 'base.html.twig' %}

{% block title %}Blogs{% endblock %}

{% block body %}
    <style>
        .wrapper {
            margin: 1em auto;
            width: 95%;
        }
        .highlight {
            background-color: yellow;
        }
    </style>
    <script>
        $( function() {
            $( "#mainSearch" ).autocomplete({
                source: "/blog/search/direct",
                minLength: 2,
                response:function( event, ui ) {
                    var highlightRe = /<span class="highlight">(.*?)<\/span>/g,
                        highlightHtml = '<span class="highlight">$1</span>';
                    var term = $('#mainSearch').val();
                    var txt = $('#txt').html().replace(highlightRe,'$1');
                    if (term !== '') {
                        txt = txt.replace(new RegExp('(' + term + ')', 'gi'), highlightHtml);
                    }
                    $('#txt').html(txt);
                },
                select: function( event, ui ) {
                    window.location = "/blog/details/" + ui.item.id;
                }
            });
        } );
    </script>
    <form class="form-inline">
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search" id="mainSearch">
    </form>
    <div id='txt' class="wrapper">
        <h1>All Blogs!</h1>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Text</th>
                <th scope="col">Insert Date</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            {% for blog in blogs %}
                <tr>
                    <td>{{ blog.title }}</td>
                    <td>{{ blog.text }}</td>
                    <td>{{ blog.insertDate |date('d-m-Y') }}</td>
                    <td><a href="/blog/details/{{ blog.id }}">view</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}